[Unit]
Description=Receipt Store Backend Service
Requires=docker.service
After=docker.service
StartLimitInterval=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/temidaradev/Documents/receipt-store
ExecStart=/bin/bash -c 'docker-compose -f docker-compose.pi.yml up -d'
ExecStop=/bin/bash -c 'docker-compose -f docker-compose.pi.yml down'
ExecReload=/bin/bash -c 'docker-compose -f docker-compose.pi.yml restart'
TimeoutStartSec=0
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
